.metadata/
Asteroids/
Euclid/
Hello World/
hello.java/
Nothing/
Nothing.java/
SentenceUtils.java/
SentenceUtilsTest.java/
Asteroids.jar
Invoice.java/
Quiz2/
count/
Miller_PA2/
Miller.Project1/